 <ng-template [ngIf]="suitKey == 'Heart'">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-300 -300 1000 1000">
        <g>
            <path fill="#ff0000" d="m171.500426,370.593225c-0.3432,-0.61825 -1.81867,-5.08821 -3.27883,-9.93328c-9.25379,-30.70592 -26.43241,-61.79909 -55.20025,-99.91211c-10.80803,-14.31897 -20.98108,-26.99864 -48.4894,-60.43711c-31.85129,-38.71762 -40.97486,-51.12075 -50.18782,-68.22815c-5.44047,-10.10228 -11.07845,-25.47363 -12.93379,-35.26259c-1.85428,-9.78328 -1.88451,-25.76677 -0.06449,-34.08951c7.40328,-33.85415 37.47471,-59.39471 73.43295,-62.36878c41.19287,-3.40701 76.23264,17.40237 94.64341,56.20672l4.11116,8.66507l3.09417,-6.84536c4.59763,-10.17145 9.02537,-17.05079 16.49892,-25.63414c19.02798,-21.85364 41.67355,-32.55863 68.95442,-32.59608c12.21998,-0.01675 19.2223,0.99749 29.63542,4.29255c15.57394,4.92811 27.29757,12.6053 37.73867,24.71314c27.20989,31.55337 23.98818,74.53993 -9.53244,127.1876c-7.81932,12.2811 -21.92763,30.452 -41.32995,53.23123c-22.34309,26.23184 -33.26023,39.56342 -44.43732,54.26515c-26.79149,35.24004 -44.8099,67.26021 -54.72093,97.24342c-1.51191,4.57392 -3.09592,8.83598 -3.52003,9.47125c-0.98487,1.47524 -3.60189,1.49361 -4.41387,0.03098z"/>
        </g>
    </svg>
 </ng-template>
 <ng-template [ngIf]="suitKey == 'Diamond'">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-300 -300 1000 1000">
        <g>
            <path fill="#ff0000" fill-rule="evenodd" stroke-width="1.0000000pt" d="m126.521967,0.000002c-38.6981,64.39722 -82.26246,126.34381 -126.52197,185.83976c46.34505,59.49596 90.60458,121.44253 126.52197,185.83976c37.30777,-65.62253 78.0914,-128.18178 126.52199,-185.83976c-47.04023,-59.49595 -89.90939,-122.66786 -126.52199,-185.83976z"/>
        </g>
    </svg>
 </ng-template>
 <ng-template [ngIf]="suitKey == 'Spade'">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-300 -300 1000 1000">
        <g>
            <path fill="#000000" fill-rule="evenodd" stroke="#000000" stroke-width="0.85576210pt" d="m51.755028,127.773674c-122.0804,124.72233 -2.40813,215.19165 94.11395,155.64651c-18.22494,64.96823 -28.24741,70.08028 -39.31195,87.18963l104.21461,0c-13.37742,-17.27709 -27.42618,-22.2214 -41.65996,-86.81983c98.5467,56.60957 202.40988,-42.11352 93.06036,-156.01631c-71.51469,-62.55459 -99.27923,-119.66427 -105.20849,-127.77367c-5.68921,6.75662 -39.20801,66.37968 -105.20852,127.77367z"/>
        </g>
    </svg>
 </ng-template>
 <ng-template [ngIf]="suitKey == 'Club'">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-300 -300 1000 1000">
        <g>
            <path fill="#000000" fill-rule="nonzero" stroke="#000000" stroke-width="1.810937" stroke-miterlimit="4" stroke-dashoffset="0" marker-start="none" marker-mid="none" marker-end="none" d="m127.925575,159.487573c-58.81387,-28.09458 -145.32717,5.41679 -124.85824,81.01208c19.94712,73.66818 106.09049,57.5015 135.87882,12.65836c-12.42728,85.02529 -34.25235,98.26235 -47.33387,116.72006l138.884,0c-14.07177,-19.73903 -39.62371,-31.69477 -54.60839,-117.8853c30.01637,44.76763 120.25299,60.2871 139.91188,-12.31667c19.33868,-71.42099 -67.83356,-112.09436 -125.801,-79.76257c55.58527,-37.32558 75.54727,-159.91353 -29.73107,-159.91353c-106.31757,0 -88.57883,124.98473 -32.34213,159.48757z"/>
        </g>
    </svg>
 </ng-template>