// Color variables (appears count calculates by raw css)
@color0: #408c99; // Appears 15 times
@color1: #599bb3; // Appears 15 times
@color2: #276873; // Appears 3 times



.gameBackground {
	-moz-border-radius:8px;
	-moz-box-shadow: 0px 10px 14px -7px @color2;
	-webkit-border-radius:8px;
	-webkit-box-shadow: 0px 10px 14px -7px @color2;
	background-color:@color1;
	background:-moz-linear-gradient(top, @color1 5%, @color0 100%);
	background:-ms-linear-gradient(top, @color1 5%, @color0 100%);
	background:-o-linear-gradient(top, @color1 5%, @color0 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, @color1), color-stop(1, @color0));
	background:-webkit-linear-gradient(top, @color1 5%, @color0 100%);
	background:linear-gradient(to bottom, @color1 5%, @color0 100%);
	border-radius:8px;
	box-shadow: 0px 10px 14px -7px @color2;
	color:#ffffff;
	cursor:pointer;
	display:inline-block;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color0',GradientType=0);
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:13px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.gameButton {
    &:extend(.gameBackground);
	&:disabled {
        -moz-box-shadow: 0px 10px 14px -7px #91b8b3;
        -webkit-box-shadow: 0px 10px 14px -7px #91b8b3;
        box-shadow: 0px 10px 14px -7px #91b8b3;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
        background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
        background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
        background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
        background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
        background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
        background-color:#768d87;
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        border-radius:8px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:14px;
        font-weight:bold;
        padding:13px 6px;
        text-decoration:none;
        text-shadow:0px 1px 0px #2b665e;
    }
    &:hover {
		background-color:@color0;
		background:-moz-linear-gradient(top, @color0 5%, @color1 100%);
		background:-ms-linear-gradient(top, @color0 5%, @color1 100%);
		background:-o-linear-gradient(top, @color0 5%, @color1 100%);
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, @color0), color-stop(1, @color1));
		background:-webkit-linear-gradient(top, @color0 5%, @color1 100%);
		background:linear-gradient(to bottom, @color0 5%, @color1 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@color0', endColorstr='@color1',GradientType=0);
	}
	&:active {
		position:relative;
		top:1px;
	}
}