<div class="gameBackground" >
  <div *ngFor="let hand of game.hands; let i = index">
    <label>Player {{i+1}}: {{hand.owner}} </label>
    <br>
    <br>
    <ng-template [ngIf]="isNewGame">
      <input [(ngModel)]="hand.owner"/>
      <br>
      <br>
    </ng-template>
    <app-hand [hand]="hand" [isNewHand]="isNewGame"></app-hand>
  </div>

  <ng-template [ngIf]="msg">
    <p style="color:blue;">{{msg}}</p>
  </ng-template>

  <ng-template [ngIf]="errorMsg">
    <p style="color:red;">{{errorMsg}}</p>
  </ng-template>

  <ng-template [ngIf]="!msg && !errorMsg">
    <br>
    <br>
  </ng-template>

  <ng-template [ngIf]="isNewGame">
      <form (ngSubmit)="startGame()" >
        <input type="submit" class="gameButton" value="Start Game!">
      </form>
  </ng-template>

  <ng-template [ngIf]="!isNewGame">
      <form (ngSubmit)="resetGame()" >
        <input type="submit" class="gameButton" [disabled]="!resetReady" value="Reset Game">
      </form>
  </ng-template>
</div>