<div>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: block" width = "70" height="96">
    <g>
      <rect class="basicCard" x="0" y="0" width="64" height="89"></rect>
      <text x="5" y="20" [attr.fill]="card.suit.color.valueOf()">{{card.cardValue}}</text>
      <text x="45" y="80" [attr.fill]="card.suit.color.valueOf()">{{card.cardValue}}</text>
      <svg:g app-suit [suitKey]="card.suit.name.valueOf()"/>
    </g>
  </svg>
  <ng-template [ngIf]="isNewCard">
    <form (ngSubmit)="setCard()" >
      <input [(ngModel)]="cardStr" size="2" required minlength="2" maxlength="3" [ngModelOptions]="{standalone: true}"/>
      <input type="submit" value="Ok">
    </form>
  </ng-template>
</div>